html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden; /* hides scrolling */
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center; /* center vertically */
  align-items: center; /* center horizontally */
  background: linear-gradient(to bottom, #eff6ff, #eef2ff, #faf5ff);
}
.logo {
  width: 185px;
  height: auto;
  position: absolute;
  bottom: auto;
  left: 50px;
  top: 15px;
}
.school {
  font-family: "Arimo", sans-serif;
  font-weight: 700;
  color: #4a5565;
  position: absolute;
  bottom: auto;
  left: 80px;
  top: 80px;
  font-size: 16px;
}
.icon1,
.icon2,
.icon3 {
  width: 15px;
  height: auto;
  margin-right: 5px; /* use spacing, not position */
  position: relative;
  bottom: 1px;
}
.container1 {
  display: flex;
  width: 1360px;
  border-radius: 50px;
  text-align: center;
  justify-content: center;
  background-color: #efefef;
  padding: 8px;
  height: 20px; /* increase height */
  position: absolute;
  top: 150px;
  font-family: "Arimo", sans-serif;
  left: 75px;
}
.item,
.active-item {
  width: 860px;
  height: 25px; /* SAME HEIGHT */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  font-size: 14px;
  cursor: pointer;
  position: relative;
  bottom: 2px;
}

.active-item {
  background-color: white;
  position: relative;
  bottom: 2px;
}
.container2 {
  display: flex;
  width: 1370px;
  height: 740px; /* will be changed to dynamic later since number of data is not fixed */
  background-color: white;
  border-radius: 14px;
  position: absolute;
  top: 200px;
  left: 80px;
  border: 2px solid #e5e7eb;
}
.text1 {
  font-family: "Arimo", sans-serif;
  font-size: 14px;
  color: #0a0a0a;
  position: absolute;
  top: 20px;
  left: 30px;
}
.text2 {
  font-family: "Arimo", sans-serif;
  font-size: 14px;
  color: #717182;
  position: absolute;
  top: 40px;
  left: 30px;
}
.search-bar {
  width: 1030px;
  height: 30px;
  border-radius: 10px;
  position: absolute;
  border: none;
  background-color: #f3f3f5;
  top: 100px;
  left: 30px;
  padding-left: 50px;
  color: #717182;
  font-family: "Arimo", sans-serif;
}
.search-icon {
  width: 15px;
  height: auto;
  position: absolute;
  top: 108px;
  left: 45px;
}
.search-bar:focus {
  border: none;
  outline: none;
}
.export-button {
  width: 120px;
  height: 35px;
  border-radius: 8px;
  position: absolute;
  top: 40px;
  right: 30px;
  background-color: #ffffff;
  color: black;
  font-family: "Arimo", sans-serif;
  border: 1px solid #d1d5db;
  cursor: pointer;
  padding-left: 20px;
}
.export-button:active {
  background-color: gray;
  color: black;
}
.export-icon {
  width: 15px;
  height: auto;
  position: absolute;
  top: 48px;
  right: 125px;
}
.buttons {
  display: flex;
  gap: 10px;
  position: absolute;
  top: 100px;
  right: 30px;
}
.select-button {
  border-radius: 8px;
  border: none;
  width: auto;
  height: 30px;
  display: flex;
  align-items: center;
  padding: 0 15px;
}
.select-button:focus {
  outline: none;
  background-color: black;
  color: white;
}
.select-button:hover {
  cursor: pointer;
}
.table-container {
  height: 550px;
  position: absolute;
  top: 150px;
  left: 30px;
  background-color: white;
  border-radius: 10px;
  border: 2px solid #e5e7eb;
}
.table{
  width: 1300px;
  border-collapse: collapse;
}
