html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden; /* hides scrolling */
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center; /* center vertically */
  align-items: center; /* center horizontally */
  background: linear-gradient(to bottom, #eff6ff, #eef2ff, #faf5ff);
}
.logo {
  width: 185px;
  height: auto;
  position: absolute;
  bottom: auto;
  left: 50px;
  top: 15px;
}
.school {
  font-family: "Arimo", sans-serif;
  font-weight: 700;
  color: #4a5565;
  position: absolute;
  bottom: auto;
  left: 80px;
  top: 80px;
  font-size: 16px;
}
.icon1,
.icon2,
.icon3 {
  width: 15px;
  height: auto;
  margin-right: 5px; /* use spacing, not position */
  position: relative;
  bottom: 1px;
}
.container1 {
  display: flex;
  width: 1360px;
  border-radius: 50px;
  text-align: center;
  justify-content: center;
  background-color: #efefef;
  padding: 8px;
  height: 20px; /* increase height */
  position: absolute;
  top: 150px;
  font-family: "Arimo", sans-serif;
  left: 75px;
}
.item,
.active-item {
  width: 860px;
  height: 25px; /* SAME HEIGHT */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  font-size: 14px;
  cursor: pointer;
  position: relative;
  bottom: 2px;
}

.active-item {
  background-color: white;
  position: relative;
  bottom: 2px;
}
.container2 {
  display: flex;
  width: 1370px;
  height: 740px; /* will be changed to dynamic later since number of data is not fixed */
  background-color: white;
  border-radius: 14px;
  position: absolute;
  top: 200px;
  left: 80px;
}
.txt2 {
  width: 800px;
  height: 25px;
  font-size: 14px;
}
